*{ 
	font-family: 'PT Serif', serif;
	

 }

 h1{
      text-align:center;
      animation: anim 4s linear;
 }

 p{
 	font-size: 22px;
 	line-height: 150%;
 }
 h3,h4{ 
 	font-size: 30px;
    color: white;
    text-align: center;
    text-transform:uppercase;
}
.ab{
	color: blacks;
}


/* Standard syntax */
@keyframes anim{
	0%{
		opacity:0;
	}

	80%{
		opacity:0.5;
	}

	85%{
		opacity:0.65;
	}

	100%{
		opacity:1;
	}
}

h1:hover{
	color: #88ff4d
}

h4:hover{
	color:#ff0080;
}
h3:hover{
	color:#ff0080;
}